{% extends 'base/base.html' %}

{% load custom_filters %}

{% block content_page %}

    <!-- Start Register Section -->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Register Form -->
            <form method="post" action="{% url 'register' %}">
                {{ form.username|placeholder:'Username' }}
                {{ form.username.errors }}

                {{ form.email|placeholder:'Email' }}
                {{ form.email.errors }}

                {{ form.password1|placeholder:'Password' }}
                {{ form.password.errors }}

                {{ form.password2|placeholder:'Repeat Paswword' }}
                {{ form.password2.errors }}

                <button type="submit">Register</button>
                {% csrf_token %}
            </form>
            <!-- End Register Form -->

        </div>
        <div class="second-option">

            <!-- Link to Login Page -->
            <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>
    <!-- End Register Section -->

{% endblock %}